
.header{
    /*Barre de menu fixe en haut et le reste de la page déroulant: */

      overflow: hidden;
      background-color:#CAF5F5;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
    }
}
body{
    background-color:#E9F9F9;
    padding: 50px 50px 50px 50px;
    max-width: 800px;
}


.blocs{
   margin: auto;
}

h4{
    text-shadow: 2px 2px 4px #000000;

}

h5{
    font-family: cursive;
    text-shadow: black 40px;
    
}

.bloc{
background-color: white;
    margin-bottom: 50px;
   box-shadow: 1px 1px 1px 1px grey;
   padding: 20px 40px 20px 40px;
   border-radius: 20px;
}

ol{
    list-style-image:image("bullet.png");
}