body{
    background-color:#f3f6f8;
}

header{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
}

button{
    background: #e40034;
    color: white;
    display: block;
    margin: auto;
}

.bloc{
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #909da1;
}

.blocs{
    margin: auto;
}

.row{
    margin-top: 50px;
    margin-bottom: 50px;
}

h5{
    /*font-family: cursive;*/
    text-shadow: black 40px;
}

ol{
    list-style-image: url(../images/bullet.png);
    display: none;
}

.active{
    display: block;
}

.etendre{
 font-size: 12px;
}
